:root {
    --primary: #fff;
  }
  
  .btn {
    padding: 8px 20px;
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
  }
  
  .btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
  }
  
  .btn--medium {
    padding: 8px 20px;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 10px;
  }
  
  .btn--large {
    padding: 16px 36px;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 50px;
  }

  .btn--mobile {
    text-align: center;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
    margin: 0;
  }
  
  .btn--wide {
    padding: 10px 16px;
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 10px;
  }
  
  .btn--large:hover,
  .btn--medium:hover,
  .btn--mobile:hover {
    transition: all 0.3s ease-out;
    background: #525252;
    color: #fff;
  }
  
  .btn--wide:hover {
    color: #fff;
    transition: all 0.2s ease-out;
  }
  
  .btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 8px 16px;
    height: 100%;
    width: 100%;
  }
  
  .cyan {
    background-color: #429b86;
    color: #fff;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.420);
  }
  
  .gradient {
    background-image: linear-gradient(to right, #38E5AB, #2FC190, #29A67C,  #1C7356);
    color: #fff;
    border: none;
  }
  
  .primary {
    background-image: linear-gradient(180deg, #38E5AB, #39E5AC, #36d6a1);
    color: #fff;
    border: none;
	  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.420);
    
  }
  
  .primary:hover {
    color: #525252;
    border: none;
  }

  .mid{
    margin-left: 25%;
  }
  
  .end{
    margin-left: 50%;
  }